<ion-view title="MATCHPAL" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-color-palette"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="mATCHPAL2-form7" class="list">
      <ion-item class="item-avatar" id="mATCHPAL2-list-item12">
        <img src="img/LTuT3jkCTLG0bK9x4jjW_ic_add_foto_usuario_tela_6.png">
      </ion-item>
      <div id="mATCHPAL2-markdown10">
        <p style="color:#000000;">Por favor, forneça o seu nome e uma foto para perfil</p>
      </div>
      <label class="item item-input" id="mATCHPAL2-input7" name="nome">
        <input type="text" placeholder="Nome">
      </label>
      <div class="spacer" style="width: 300px; height: 272px;"></div>
      <div style="margin-right:-20px;">
        <a ui-sref="mATCHPAL3" id="mATCHPAL2-button7" style="left:-10px;" class="button button-calm  button-full">CONFIRMO</a>
      </div>
    </form>
  </ion-content>
</ion-view>