<ion-view title="MATCHPAL" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="mATCHPAL4-container2">
      <div id="mATCHPAL4-markdown11">
        <p style="color:#000000;">TEXTO AQUII</p>
      </div>
      <div class="spacer" style="width: 300px; height: 86px;"></div>
    </div>
    <ion-list id="mATCHPAL4-list4">
      <ion-item class="item-avatar item-icon-right" id="mATCHPAL4-list-item16">
        <img src="img/9GBZT1STwKNmp2D0jcrk_ic_avatar.png">
        <h2>Item</h2>
        <i class="icon ion-android-hand"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mATCHPAL4-list-item13">
        <img src="img/f32VkzVzQdmwlpx7ulhR_ic_avatar.png">
        <h2>Item</h2>
        <i class="icon ion-android-favorite-outline"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="mATCHPAL4-list-item15">
        <img src="img/mmulmkteQiOeElwKJLJJ_ic_avatar.png">
        <h2>Item</h2>
        <i class="icon ion-android-radio-button-off"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>